@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}


@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0% {
    background-color: rgba(255, 0, 0, 0);
  }
  25% {
    background-color: rgba(245, 197, 24, 0.5);
  }
  50% {
    background-color: rgba(255, 0, 0, 0);
  }
  75% {
    background-color: rgba(245, 197, 24, 0.5);
  }
  100% {
    background-color: rgba(255, 0, 0, 0);
  }
}
@-webkit-keyframes blink {
  0% {
    background-color: rgba(255, 0, 0, 0);
  }
  25% {
    background-color: rgba(245, 197, 24, 0.5);
  }
  50% {
    background-color: rgba(255, 0, 0, 0);
  }
  75% {
    background-color: rgba(245, 197, 24, 0.5);
  }
  100% {
    background-color: rgba(255, 0, 0, 0);
  }
}

@-webkit-keyframes wink {
  0% {
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    -o-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
  }

  50% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    -o-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
  }
}

@keyframes wink {
  0% {
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    -o-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
  }

  50% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    -o-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
  }
}

.gradient-border {
  --borderWidth: 5px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth);

  .img-artwork-wrapper {
    border: 5px solid rgba(0, 0, 0, 1);
    border-radius: 50%;
  }
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

[anim="general"],
[anim="activeTab"] {
  //  Customize effect by defining the following
  //  variables on the parent element
  //  --ripple-background: white;
  //  --ripple-opacity: 0.3;
  //  --ripple-duration: 600ms;
  //  --ripple-easing: linear;

  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    display: block;
    background: var(--ripple-background, white);
    border-radius: 50%;
    pointer-events: none;

    //  position and size
    top: calc(var(--y) * 1px);
    left: calc(var(--x) * 1px);
    width: calc(var(--d) * 1px);
    height: calc(var(--d) * 1px);

    //  animated properties
    opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
    transition: calc(var(--t, 0) * var(--ripple-duration, 600ms))
      var(--ripple-easing, linear);
    transform: translate(-50%, -50%) scale(var(--s, 1));
    transform-origin: center;
  }
}

[anim="activeTab"] {
  &:before {
    background: var(
      --ripple-background,
      lighten($color: #f5c518, $amount: 10%)
    );
    //  animated properties
    opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.5));
    transition: calc(var(--t, 0) * var(--ripple-duration, 400ms))
      var(--ripple-easing, linear);
  }
}
