
* {
  box-sizing: border-box;
}

#root, .App {
  height: 100vh;
  overflow: hidden;
}

body, html {
  height: 100vh;
  margin: 0;
  font-family: animosaExtraLight;
  // overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

.secondary {
  opacity: 0.5;
  font-size: 14px;
  margin-right: 7.5px;
}




/* Scrollbar */

::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
  -webkit-border-radius: 100px;
}
