/* List Helpers */

.clean-list {
    list-style-type: none;
    // margin: 0;
    // padding: 0;
}

/* Flex Helpers */

.flex {
    display: flex;
    &.align-center {
        align-items: center;
    }
    &.align-baseline {
        align-items: baseline;
    }
    &.column {
        flex-direction: column;
    }
    &.space-center {
        justify-content: center;
    }
    &.space-start {
        justify-content: flex-start;
    }
    &.space-end {
        justify-content: flex-end;
      }
    &.space-between {
        justify-content: space-between;
    }
    &.space-evenly {
        justify-content: space-evenly;
    }
    &.space-around {
        justify-content: space-around;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.align-start {
        align-items: flex-start;
    }
    &.align-baseline {
        align-items: baseline;
    }
    &.align-end {
        align-items: flex-end;
    }
    &.even {
        justify-content: space-evenly;
    }
    &.justify-end {
        justify-content: flex-end;
    }
}

/* Grid Helpers */
.grid {
    display: grid;
  }