.header {
  width: 100%;
  margin-bottom: 20px;
  transition: 0.35s cubic-bezier(0.42, 0.5, 0.25, 1);
  .header-top {
    width: 100%;
    position: relative;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    .header-title {
      text-align: center;
      font-family: animosa;
      font-size: 40px;
      color: $clr3;
      margin-bottom: 5px;
      -webkit-user-select: none;
    }

    .links-toggle-button {
      position: absolute;
      right: 10%;
      cursor: default;
      justify-self: flex-end;
      .links-toggle-icon {
        fill: rgba($color: $clr3, $alpha: 1);
        width: 30px;
        transform: rotateZ(15deg);
      }

      p {
        font-size: 12px;
      }
      .toggle-icon {
        cursor: pointer;
        &.no-links {
          filter: grayscale(1);
          opacity: 0.5;
        }


        &:hover {

            &.has-links {

                .links-toggle-icon {
                  // transform: rotateZ(15deg);
                  animation: wink 0.35s alternate 2;
                  // transform-origin: 50% 100%;
                  animation-timing-function: ease-in-out;
                }
            }
        }
      }
    }

    .user-links {
      position: absolute;
      z-index: 10;
      right: 0;
      top: 53px;
      width: 300px;
      background-color: $clr2;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      border-radius: 2px;
      transition: 0.35s cubic-bezier(0.42, 0.5, 0.25, 1);
      opacity: 0;
      -webkit-user-select: none;
      pointer-events: none;
      transform: scale(0.75);
      padding: 5px;
      &.open-links {
        opacity: 1;
        -webkit-user-select: unset;
        pointer-events: unset;
        transform: scale(1);
      }

      & > *:not(:last-of-type) {
        margin-bottom: 10px;
      }

      .link-group {
        padding: 3px 3px 5px 3px;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
        background-color: rgba($color: $clr3, $alpha: 0.1);
        .link-title {
          font-size: 16px;
          margin-bottom: 5px;
          font-family: animosa;
        }
      }

      .links-empty-text {
        font-size: 15px;
        text-align: center;
        font-family: animosa;
      }
    }
  }

  .header-intro-text {
    font-size: 18px;
    -webkit-user-select: none;
    opacity: 0.75;
    font-family: animosaExtraLight;
    
    &.finish-bold {
        font-family: animosa;

    }
  }
}

@media screen and (max-width: 400px) {
  .header {
    
    .header-top {

      .header-title {
        font-size: 35px;
      }

    }
  }
}