.popup-content {
  height: 100%;
  width: 100%;

  .link-title {
    font-family: animosaExtraBold;
    font-size: 30px;
    padding: 5px 0;
    width: 100%;
    margin-bottom: 20px;
    // padding: 0 10px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.25);
    
    &.selected-title {
      margin-bottom: 10px;
    }
  }
  .full-content {
    height: 100%;
    width: 100%;
    font-size: 28px;
      font-family: animosa;
      opacity: 0.75;
  }

  .free-content {
    // height: 100%;
    background-color: #fff;
    z-index: 2;
    width: 100%;
    margin-bottom: 10px;
    a {
      .Tilt {
        height: unset;
        .tilt-button {
          height: 40px;
          font-family: animosaExtraBold;
          color: white;
          background-color: $clr3;
        }
      }

      &.inactive {

        cursor: default;
        .Tilt {
          pointer-events: none;
          filter: grayscale(1);
          opacity: 0.25;
        }
      }
    }

    .free-content-text {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  .selected-content {
    width: 100%;
    height: 100%;
    .selected-text {
      font-size: 28px;
      font-family: animosa;
      // margin-bottom: 10px;
      span {
        background: linear-gradient(
          75deg,
          #ff2400,
          #e81d1d,
          #e8b71d,
          #e3e81d,
          #1de840,
          #1ddde8,
          #2b1de8,
          #dd00f3,
          #dd00f3
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -z-animation: rainbow 9s ease infinite;
        -o-animation: rainbow 9s ease infinite;
        animation: rainbow 9s ease infinite;
        background-size: 800% 800%;
      }
    }

    .link-open {
      font-family: animosaBold;
      color: darken($color: lightgreen, $amount: 10);
      font-size: 20px;
      transition: 0.25s cubic-bezier(0.42, 0.5, 0.25, 1);
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .link-copy-container {

    width: 95%;
    background-color: rgba($color: $clr3, $alpha: 0.15);
    border-radius: 2px;
    padding: 10px;
    .textcopy {

      &.large {

        input {
          font-size: 16px;
          padding: 5px 0 5px 3px;
        }

        a {
          height: 30px;
          .Tilt {
            .tilt-button {
              padding: 4px 7px;
              // background-color: rgba(255, 255, 255, 1);
              p {
                font-size: 18px;
                font-family: animosa;
              }
            }
          }
        }

      }
    }
  }
}

.free-content-register {
  width: 100%;
  transform: translateY(-125%);
  transition: 0.35s cubic-bezier(0.42, 0.5, 0.25, 1);
  opacity: 0;
  .register-text {
    font-family: animosaExtraBold;
  }
  .register-confirm {
    width: 100%;
    font-family: animosaExtraBold;
    .tilt-button {
      height: 40px;
    }
  }

  &.open-register {
    transform: translateY(0%);
    opacity: 1;
  }
}

.close-icon {
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  top: -10px;
  right: -10px;
  transform: rotateX(30deg);
  cursor: pointer;
  transition: 0.35s cubic-bezier(0.42, 0.5, 0.25, 1);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.75);
  // padding: 2px;
  background-color: #e9ecef;
  border-radius: 50%;
  filter: grayscale(0.5);
  &:hover {
    filter: grayscale(0);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: tomato;
    transform: rotateX(0deg) rotateZ(180deg) scale3d(1.15, 1.15, 1.15)
      perspective(1000px);

    g {
      & > * {
        transition: 0.25s ease-in-out;
        fill: white;
      }
    }
  }
}
